// define theme colors
$mojo: rgb(195, 77, 64);
$governor-bay: rgb(66,66,186);
$bluewood: rgb(46, 60,86);
$fire-bush: rgb(229, 156, 47);
$burnt-sienna: rgb(234,114, 76);
$wine-berry: rgb(92, 37,51);
$tom-thumb: rgb(45, 68, 47);
$thunder: rgb(65, 47, 63);
$vista: rgb(141, 211, 151);
;